<%= form_with(model: part, local: true) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :part_name, :disabled => true %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :part_quantity, :disabled => true%>
  </div>

  <div class="field">
    <%= form.label :จำนวนที่เพิ่ม %>
    <%= form.number_field :add, id: :add, :disabled %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
