<p id="notice"><%= notice %></p>
<%= render '/layouts/header' %>
<p>
  <strong>Name:</strong>
  <%= @history.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @history.quantity %>
</p>

<p>
  <strong>Update date:</strong>
  <%= @history.update_date %>
</p>

<p>
  <strong>Updater:</strong>
  <%= @history.updater %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @history.plate %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @history.discription %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
